/* General Style */
html {
	font-size: 100%;
}
body {
	font-family: sans-serif;
	background-color: #EEEEEE;
	margin: 0;
	padding-left: 8px;
	height: 100%;
	text-align: left;
	color: black;
}
h1 {
	font-weight: bolder;
	text-align: center;
}
h2, h3 {
	color: black;
	font-weight: bold;
	font-size: 20px;
}
a {
	color: #444444;
	text-decoration: none;
}
input {
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	padding: 8px;
	background-color: White;
}
select {
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	padding: 8px;
	background-color: White;
}
textarea {
	font-family: sans-serif;
	border: none;
	width: 98%;
	height: 45%;
	resize: none;
	display:inline-block; 
	-webkit-text-stroke: 0px darkgrey;
	color: black;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
li {
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	padding: 8px;
	width: 75%;
	background-color: White;
}
input[type=number] {
	border-style: solid;
	-webkit-text-stroke: 0px darkgrey;
}
input[type=submit] {
	font-family: sans-serif;
	background-color: LightGray;
	font-size: 12px;
	width: 90px;
    height: 40px;
	-webkit-text-stroke: 0px darkgrey;
}
input {
	font-size: 12px;
	-webkit-text-stroke: 0px darkgrey;
}
form {
	margin: 0px;
	-webkit-text-stroke: 0px darkgrey;
}
canvas {
	border: solid;
}
p{
	font-size: 24px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 8;
	color: black;
	-webkit-text-stroke: 0px darkgrey;
	
}

.left{
	float: left;
}
.left2{
	float: left;
}
.footer{
	text-align: center;
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right:8;
}
.profilepic{
	float: right;
	float: top;
	margin-right: 8px;
	margin-top: 8px;
}
.search{
	float: right;
	float: top;
	margin-top: 8px;
	margin-right: 8px;
}